<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="UniStudent.My.MySettings.UNION25_DEMOConnectionString" connectionString="Data Source=localhost;Initial Catalog=UNION25_DEMO;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="UniMark.My.MySettings.UniSoftConnectionString" connectionString="Data Source=localhost;Initial Catalog=UNION25_DEMO;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>  
 
    <add key="Sql_ConnectString" value="Data Source=(local);user id=sa;password=;Initial Catalog=Northwind;"/>
    
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="C1.Common" publicKeyToken="E272BB32D11B1948" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.20031.116" newVersion="1.0.20031.116"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
